<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width" name="viewport">
  <title>Charts</title>
  <link href="/style.css" rel="stylesheet"></link>
</head>
<body>
  <script src="/jquery.min.js"></script>
  <script src="/jquery.peity.js"></script>

  <div class="charts">
    <% charts.forEach(function(chart) { %>
      <% include chart %>
    <% }) %>
  </div>
</body>
</html>
