<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width" name="viewport">
  <title><%= chart.id %></title>
  <link href="/style.css" rel="stylesheet"></link>
</head>
<body>
  <script src="/jquery.min.js"></script>
  <script src="/jquery.peity.js"></script>

  <% include chart %>
</body>
</html>
