body {
  background: #FFF;
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  margin: 0;
  text-align: center;
}

#fork-me {
  position: absolute;
  right: 0;
  top: 0;
}
#fork-me a {
  background: url("fork_me.png") no-repeat 0 0;
  display: block;
  height: 149px;
  text-indent: -9999px;
  width: 149px;
}

h1 {
  font-size: 32px;
  margin: 1em 0 0.4em;
}
h2 {
  font-size: 22px;
  margin: 1em 0 0.4em;
}
h3 {
  font-size: 18px;
  margin: 1em 0 0.4em;
}

p {
  margin: 0.4em 0;
  width: 600px;
}

dl {
  clear: both;
}
dd {
  margin-left: 1em;
}

pre {
  background: #EEE;
  margin: 0.4em 0;
  padding: 3px 7px;
}
pre code {
  padding: 0;
}

code {
  background: #EEE;
  font-size: 13px;
  padding: 0.1em 0.2em;
}

code.html span.attribute {
  color: red;
}
code.html span.string {
  color: green;
}
code.html span.tag {
  color: blue;
}

code.javascript span.comment {
  color: #BD48B3;
}
code.javascript span.keywords {
  color: blue;
}
code.javascript span.regexp {
  color: orange;
}
code.javascript span.string {
  color: green;
}

#container {
  margin: 0 auto;
  text-align: left;
  width: 800px;
}

.example {
  margin-bottom: 25px;
  overflow: hidden;
  padding-bottom: 5px;
}
.example div.html {
  float: left;
  width: 320px;
}
.example div.javascript {
  float: right;
  width: 470px;
}
.example h4 {
  color: #333;
  font-family: monospace;
  font-size: 13px;
  font-weight: normal;
  margin: 0.5em 7px 1px;
}
.example pre {
  margin: 0 0 -2000px;
  padding-bottom: 2000px;
}

.example.pie-events div.html {
  width: 370px;
}
.example.pie-events div.javascript {
  width: 420px;
}

.example.bar-chart div.html,
.example.line-chart div.html {
  width: 420px;
}
.example.bar-chart div.javascript,
.example.line-chart div.javascript {
  width: 370px;
}
